#blackboard.blackboard.boxeffect1(onmousedown='mydragg.startMoving(this,"worldcontainer",event);', onmouseup='mydragg.stopMoving("worldcontainer");', ontouchstart='touch(this,event)',ontouchend='touch(this,event)',ontouchmove='touch(this,event)',style='position:absolute;left:'+blackboardelement.leftpx+';top:'+blackboardelement.toppx+';', contenteditable='true')
  pre#content.
    #{blackboardelement.txt}  -- #{index} --