#blackboard_welcome.blackboard.boxeffect1(onmousedown='mydragg.startMoving(this,"worldcontainer",event);', onmouseup='mydragg.stopMoving("worldcontainer");', ontouchstart='touch(this,event)',ontouchend='touch(this,event)',ontouchmove='touch(this,event)',style='position:absolute;left:200px;top:60px;', contenteditable='true')
  pre#content.
    #{welcometext}