#memo.memo.boxeffect2(onmousedown='mydragg.startMoving(this,"worldcontainer",event);', onmouseup='mydragg.stopMoving("worldcontainer");', style='position:absolute;left:'+memoelement.leftpx+';top:'+memoelement.toppx+';', contenteditable='true')
  pre(id=memoelement.id).
    #{memoelement.txt}  -- #{index} --




