extends layout
block append head
  link(rel='stylesheet', href='stylesheets/world.css')

block content
  #worldcontainer.container-fluid(style='position:absolute')
    p 零是清空自我，回归本心；
    p 零是放下攀缘，简单生活单纯工作；
    p 零是不动，朝九晚五；
    p 零是万里晴空，乘着风去个山峦叠翠的地方发呆 ...
    p 不止步于在文字；
    p 清零，跟着心路；
    p 尽管不知码出个什么物；
    p 呃，应该有用有趣 ...
