extends layout
block append head
  link(rel='stylesheet', href='stylesheets/world.css')
  link(rel='stylesheet', href='stylesheets/blackboard.css')
  script(src='javascripts/world.js')

block content
  #worldcontainer.container-fluid(style='position:absolute')
    p 
      | #{container.welcometext} -
      a(href='http://114.116.15.10:8005/about', target='_self') #{container.websitename}
    - var blackboardnum = 0;
    - var n = 0;
    case blackboardnum
      when 0
      default
        p 您有 #{memos[0].txt} 个黑板
        include components/blackboard.pug
      when 2
        p 您有 #{blackboardnum} 个黑板


    mixin blackboard
      include components/blackboard.pug    

    +blackboard
    +blackboard
    +blackboard
    +blackboard
