extends ../layout
block append head
  link(rel='stylesheet', href='../stylesheets/world.css')
  link(rel='stylesheet', href='../stylesheets/toolbox.css')
  link(rel='stylesheet', href='../stylesheets/memo.css')
  script(src='javascripts/memo.js')
  script(src='../javascripts/world.js')
  script(src='../javascripts/toolbox.js')

block content
  #worldcontainer.container-fluid(style='position:absolute')
    #navigation 
      | #{container.nickname}
      | &nbsp &nbsp
      a(href='http://114.116.15.10:8005/user/login', target='_self') 登出
    include ../components/toolbox.pug
