.console_command {
  background-color: black;
  color: green;
  font-size: 12px;
  padding: 5px 4px 5px 5px;
  width: 512px;
  height: 80px;
  border:1px solid rgba(30,30,30,1.0);
  overflow: auto;
}
.console_command:focus {
  border:1px solid rgba(15,15,15,1.0); 
  outline:none
}
.console {
  background-color: #EEEEEE;
  color: #000000;
  padding: 5px 4px 5px 5px;
  font-size: 12px;
  width: 512px;
  height: 256px;
  text-align:left;
  border:4px solid rgba(220,210,180,1.0);
  overflow: auto;
}

.boxeffect_console
{
    box-shadow: 0 10px 6px -6px #777;
}